header {
position:fixed;
z-index:100;
top:0;left:0;right:0;
}
main {
padding-top:70px;
}
section.players,section.replicas,section.groups{
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content:space-around;
	align-items: flex-start
}
article{
	margin: 10px
}
summary::-webkit-details-marker {
  display: none
}
summary:after {
  content: "+";
  float: left;
  font-weight: bold;
	margin-left:10px;
  padding: 0;
  text-align: center;
}
details[open] summary:after{
	content:'-';
}
