article.mdl-card {
	width: 320px;
}
article .mdl-card__title {
	border: 1px solid black;
	color: #fff;
	height: 176px;
	background-size:cover;
	background-position:center;
background-color:#ccc;
}
article .mdl-card__menu {
	color: #fff;
}
section.players{
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content:space-around;

}
article{
	margin-left: 10px;margin-right: 10px;
}
