<section>
    <article>
      <form data-ng-submit="groups_update(group)">
        <button type="button" onclick="window.history.back()" class="btn btn--m btn--fab"><i class="mdi mdi-undo"></i></button>
        <button type="submit" class="btn btn--m btn--fab"><i class="mdi mdi-check"></i></button>
          <lx-text-field label="Nom">
            <input type="text" data-ng-model="group.GROUPS_NAME">
          </lx-text-field>
          <lx-text-field label="Description">
            <input type="text" data-ng-model="group.GROUPS_DESCRIPTION">
          </lx-text-field>
      </form>
    </article>
</section>
