<section class="help">
  <h1>Aide</h1>
  <h2>Les bases de données</h2>
  <p>Pour que l'application fonctionne il faut commencer par ajouter une base de données:</p>
  <img src="images/database.jpg" />
  <p>Il est conseillé de donner un nom explicite à la base</p>
  <h2>La gestion des joueurs</h2>
  <p>Chaque joueur a sa propre identité et son listing de répliques</p>
  <h3>Ajouter un joueur</h3>
  <p>Remplissez le formulaire et validez en cliquant sur le "+"</p>
  <p>Il est possible de prendre une photo du joueur en cliquant d'abord sur l'appareil photo (par la suite il est aussi possible de mettre à jour cette photo)</p>
  <p>Le listing des répliques est disponible en cliquant sur l'icone avec les trois barres horizontales</p>
  <h3>Ajouter des répliques</h3>
  <p>De même que pour les joueurs, remplissez les informations concernant la réplique (le champ FPS n'est pas obligatoire) et validez</p>
  <p>Il est possible de prendre une photo de la réplique en cliquant d'abord sur l'appareil photo (par la suite il est aussi possible de mettre à jour cette photo)</p>
</section>
