<section>
  <section>
    <article class="mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title" data-ng-style="{'background-image':'url(pictures/players/' + player.PLAYERS_PICTURE+'.jpg)'}">
            <h1 class="mdl-card__title-text"><span>{{player.PLAYERS_LASTNAME}}</span>&nbsp;{{player.PLAYERS_FIRSTNAME}}</h1>
          </div>
          <div class="mdl-card__supporting-text">
            <p data-ng-if="player.PLAYERS_NICKNAME">Alias {{player.PLAYERS_NICKNAME}}</p>
            <p class="team">{{player.PLAYERS_TEAM}}</p>
          </div>
          <div class="mdl-card__menu">
            <div class="icon material-icons mdl-badge" data-badge="{{results.length}}">list</div>
          </div>
  </article>
  <section class="replicas">
          <article class="mdl-card mdl-shadow--2dp" data-ng-repeat="replica in replicas | filter:{PLAYERS_ID:params.player_id}:true as results">
            <div class="mdl-card__title" data-ng-style="{'background-image':'url(pictures/replicas/' + replica.REPLICAS_PICTURE +'.jpg)'}">
              <h1 class="mdl-card__title-text">{{replica.REPLICAS_NAME}}</h1>
            </div>
            <div class="mdl-card__supporting-text">
              <p data-ng-if="replica.REPLICAS_FPS">{{replica.REPLICAS_FPS}} FPS</p>
              <p>{{replica.REPLICATYPE_ID}}</p>
            </div>
            <div class="mdl-card__menu">
              <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" data-ng-click="replicas_delete(replica)">
                <i class="material-icons">clear</i>
              </button>

              <button data-ng-click="replica_picture_update(replica);" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">camera_alt</i>
              </button>
            </div>
            <span style="display:none;" data-ng-if="$last" data-ng-init="MDLupdate()"></span>
          </article>
  </section>
<section>
  <article class="mdl-card mdl-shadow--2dp">
    <form  data-ng-submit="replicas_insert(NR);NR={};" data-ng-init="NR.PLAYERS_ID=params.player_id">
      <div class="mdl-card__title" data-ng-style="{'background-image':'url(' + NR.picture + ')'}">
      </div>
      <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" data-ng-model="NR.REPLICAS_NAME" type="text" list="REPLICAS_NAME" name="name" />
          <label class="mdl-textfield__label" for="name">Nom de la réplique</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" data-ng-model="NR.REPLICAS_FPS" type="numeric" name="fps" />
          <label class="mdl-textfield__label" for="fps">FPS</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <select class="mdl-textfield__input" data-ng-model="NR.REPLICATYPE_ID" name="type"><option selected label="GBB">1</option><option label="AEG">2</option></select>
          <label class="mdl-textfield__label" for="type">Type</label>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">Ajouter</button>
      </div>
      <div class="mdl-card__menu">
        <div data-ng-click="NR.picture=makesnapshot();" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">camera_alt</i>
        </div>
      </div>
    </form>
  </article>
</section>
</section>
  <datalist id="REPLICAS_NAME"><option data-ng-repeat="replica in replicas | unique:'REPLICAS_NAME'|orderBy:'REPLICAS_NAME'">{{replica.REPLICAS_NAME}}</option></datalist>
</section>
