<section>
    <article>
      <form data-ng-submit="editPlayer(player)">
        <button type="button" onclick="window.history.back()" class="btn btn--m btn--fab"><i class="mdi mdi-undo"></i></button>
        <button type="submit" class="btn btn--m btn--fab"><i class="mdi mdi-check"></i></button>
            <lx-text-field label="Nom">
              <input type="text" data-ng-model="player.PLAYERS_LASTNAME">
            </lx-text-field>
            <lx-text-field label="Prénom">
              <input type="text" data-ng-model="player.PLAYERS_FIRSTNAME">
            </lx-text-field>
            <lx-text-field label="Surnom">
              <input type="text" data-ng-model="player.PLAYERS_NICKNAME">
            </lx-text-field>
            <lx-text-field label="Team">
              <input type="text" data-ng-model="player.PLAYERS_TEAM">
            </lx-text-field>
      </form>
    </article>
</section>
