<section  id="main" role="main" data-ng-controller="PlayersCtrl">
  <h3>Gestion des joueurs ({{nbplayers}})</h3>
    <button lx-tooltip="Recharger" tooltip-position="top" data-ng-click="getPlayers()" class="btn btn--m btn--fab" lx-ripple>
      <i class="mdi mdi-replay"></i>
    </button>
    <a lx-tooltip="Ajouter un joueur" tooltip-position="top" href="#/player/insert" class="btn btn--m btn--fab" lx-ripple>
      <i class="mdi mdi-plus"></i>
    </a>
  <section>
    <details>
      <summary>Les filtres</summary>
      <form flex-container="row">
        <div flex-item="11" flex-container="row">
          <lx-text-field flex-item="3" label="Nom">
            <input type="text" list="LASTNAME_LIST" data-ng-model="playerfilter.PLAYERS_LASTNAME">
          </lx-text-field>
          <lx-text-field flex-item="3" label="Prénom">
            <input type="text" list="FIRSTNAME_LIST" data-ng-model="playerfilter.PLAYERS_FIRSTNAME">
          </lx-text-field>
          <lx-text-field flex-item="3" label="Surnom">
            <input type="text" list="NICKNAME_LIST" data-ng-model="playerfilter.PLAYERS_NICKNAME">
          </lx-text-field>
          <lx-text-field flex-item="3" label="Team">
            <input type="text" list="TEAM_LIST" data-ng-model="playerfilter.PLAYERS_TEAM">
          </lx-text-field>
        </div>
      <button flex-item="1" class="btn btn--m btn--blue btn--raised" lx-ripple data-ng-click="playerfilter=[]">RAZ</button>
      </form>
    </details>
    <div data-ng-players></div>
  </section>
  <datalist id="LASTNAME_LIST"><option data-ng-repeat="player in players | unique:'PLAYERS_LASTNAME'|orderBy:'PLAYERS_LASTNAME'| filter:playerfilter:false">{{player.PLAYERS_LASTNAME}}</option></datalist>
  <datalist id="FIRSTNAME_LIST"><option data-ng-repeat="player in players | unique:'PLAYERS_FIRSTNAME'|orderBy:'PLAYERS_FIRSTNAME'| filter:playerfilter:false">{{player.PLAYERS_FIRSTNAME}}</option></datalist>
  <datalist id="NICKNAME_LIST"><option data-ng-repeat="player in players | unique:'PLAYERS_NICKNAME'|orderBy:'PLAYERS_NICKNAME'| filter:playerfilter:false">{{player.PLAYERS_NICKNAME}}</option></datalist>
  <datalist id="TEAM_LIST"><option data-ng-repeat="player in players | unique:'PLAYERS_TEAM'|orderBy:'PLAYERS_TEAM'| filter:playerfilter:false">{{player.PLAYERS_TEAM}}</option></datalist>
</section>
