<section>
  <section>
    <article style="width:320px" class="card">
      <div class="card__img card__img--top">
        <img data-ng-if="player.PLAYERS_PICTURE" data-ng-src="pictures/players/{{player.PLAYERS_PICTURE}}.jpg">
        <img data-ng-if="!player.PLAYERS_PICTURE" src="pictures/empty_player.png">
        <span data-ng-if="!player.PLAYERS_PICTURE" class="fs-headline tc-black-1 display-block">{{player.PLAYERS_LASTNAME}}&nbsp;{{player.PLAYERS_FIRSTNAME}}</span>
        <span data-ng-if="player.PLAYERS_PICTURE" class="fs-headline tc-white-1 display-block">{{player.PLAYERS_LASTNAME}}&nbsp;{{player.PLAYERS_FIRSTNAME}}</span>
      </div>
      <div class="p+">
        <div class="paragraph fs-body-1">
          <p data-ng-if="player.PLAYERS_NICKNAME">Alias {{player.PLAYERS_NICKNAME}}</p>
          <p>{{player.PLAYERS_TEAM}}</p>
          <p>{{player.PLAYERS_BIRTHDATE}}</p>
          <p>{{player.PLAYERS_ADDRESS}}</p>
          <p>{{player.PLAYERS_PHONE}}</p>
          <p>{{results.length}} réplique(s)</p>
        </div>
      </div>
    </article>
  </section>
  <section class="replicas">
    <article style="width:320px" class="card" data-ng-repeat="replica in replicas | filter:{PLAYERS_ID:params.id}:true as results">
      <div class="card__img card__img--top">
        <img data-ng-if="replica.REPLICAS_PICTURE" data-ng-src="pictures/replicas/{{replica.REPLICAS_PICTURE}}.jpg">
        <span data-ng-if="replica.REPLICAS_PICTURE" class="fs-headline tc-white-1 display-block">{{replica.REPLICAS_NAME}}</span>
        <img data-ng-if="!replica.REPLICAS_PICTURE" data-ng-src="pictures/empty_replica.png">
        <span data-ng-if="!replica.REPLICAS_PICTURE" class="fs-headline tc-black-1 display-block">{{replica.REPLICAS_NAME}}</span>
      </div>
      <div class="p+">
        <div class="paragraph fs-body-1">
          <p data-ng-if="replica.REPLICAS_FPS">{{replica.REPLICAS_FPS}} FPS</p>
          <p>{{replica.REPLICATYPE_ID}}</p>
        </div>
      </div>
      <div class="card__actions">
          <a href="#replica/{{replica.REPLICAS_ID}}/edit" lx-tooltip="Editer" tooltip-position="top" class="btn btn--m btn--fab" lx-ripple><i class="mdi mdi-pencil"></i></a>
          <button lx-tooltip="Mettre à jour la photo" tooltip-position="top" data-ng-click="updateReplicaPicture(replica);" class="btn btn--m btn--fab" lx-ripple><i class="mdi mdi-camera"></i></button>
          <button lx-tooltip="Supprimer" tooltip-position="top" data-ng-click="remReplica(replica)" class="btn btn--m btn--fab" lx-ripple><i class="mdi mdi-delete"></i></button>
      </div>
  </article>
  <article style="width:320px" class="card">
    <form  data-ng-submit="addReplica(NR);NR={};NR.PLAYERS_ID=player.PLAYERS_ID;" data-ng-init="NR.PLAYERS_ID=player.PLAYERS_ID">
      <div class="card__img card__img--top">
          <img data-ng-src="{{NR.picture}}">
      </div>
      <div class="p+">
        <div class="paragraph fs-body-1">
          <lx-text-field label="Nom de la réplique">
            <input type="text" list="REPLICAS_NAME" data-ng-model="NR.REPLICAS_NAME">
          </lx-text-field>
          <lx-text-field label="FPS">
            <input type="text" data-ng-model="NR.REPLICAS_FPS">
          </lx-text-field>
          <lx-text-field label="Type">
            <input type="text" list="REPLICATYPE_ID" data-ng-model="NR.REPLICATYPE_ID">
          </lx-text-field>
        </div>
      </div>
      <div class="card__actions">
          <button lx-tooltip="Ajouter" tooltip-position="top" type="submit" class="btn btn--m btn--fab" lx-ripple><i class="mdi mdi-plus"></i></button>
          <button lx-tooltip="Prendre la photo" tooltip-position="top" type="button" data-ng-click="NR.picture=makesnapshot();" class="btn btn--m btn--fab" lx-ripple><i class="mdi mdi-camera"></i></button>
      </div>
    </form>
  </article>
</section>
  <datalist id="REPLICAS_NAME"><option data-ng-repeat="replica in replicas | unique:'REPLICAS_NAME'|orderBy:'REPLICAS_NAME'">{{replica.REPLICAS_NAME}}</option></datalist>
  <datalist id="REPLICATYPE_ID"><option data-ng-repeat="replica in replicas | unique:'REPLICATYPE_ID'|orderBy:'REPLICATYPE_ID'">{{replica.REPLICATYPE_ID}}</option></datalist>
</section>
