<section class="groups">
  <article class="mdl-card mdl-shadow--2dp">
    <form  data-ng-submit="groups_insert(NG);NG={};">
      <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" data-ng-model="NG.GROUPS_NAME" type="text" name="name" /><label class="mdl-textfield__label" for="name">Nom</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" data-ng-model="NG.GROUPS_DESCRIPTION" type="text" name="description" /><label class="mdl-textfield__label" for="description">Description</label>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">Ajouter</button>
      </div>
    </form>
  </article>
  <article class="mdl-card mdl-shadow--2dp" data-ng-repeat="group in groups">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">{{group.GROUPS_NAME}}</h1>
    </div>
    <div class="mdl-card__supporting-text">
      <p>{{group.GROUPS_DESCRIPTION}}</p>
      <p style="cursor: move;" ng-drag="true" ng-drag-data="player" ng-drag-success="" data-ng-repeat="player in players | filter:{GROUPS_ID:group.GROUPS_ID} | orderBy: ['PLAYERS_TEAM','PLAYERS_LASTNAME','PLAYERS_FIRSTNAME']">
        {{player.PLAYERS_TEAM}} -
        {{player.PLAYERS_LASTNAME}} -
        {{player.PLAYERS_FIRSTNAME}}

      </p>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" data-ng-click="groups_delete(group)">
        <i class="material-icons">clear</i>
      </button>
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">edit</i>
      </button>
    </div>
  </article>
</section>
