<section class="groups">
  <article style="width:320px" class="card" data-ng-repeat="group in groups">
    <div class="card__img card__img--top">
        <img data-ng-if="group.GROUPS_PICTURE" data-ng-src="pictures/groups/{{group.GROUPS_PICTURE}}.jpg">
        <img data-ng-if="!group.GROUPS_PICTURE" src="pictures/empty_group.png">
        <span data-ng-if="group.GROUPS_PICTURE" class="fs-headline tc-white-1 display-block">{{group.GROUPS_NAME}}</span>
        <span data-ng-if="!group.GROUPS_PICTURE" class="fs-headline tc-black-1 display-block">{{group.GROUPS_NAME}}</span>
    </div>
    <div class="p+">
      <div class="paragraph fs-body-1">
        <p>{{group.GROUPS_DESCRIPTION}}</p>
        <div class="checkbox mt+" data-ng-repeat="player in players | filter:{GROUPS_ID:group.GROUPS_ID} | orderBy: ['PLAYERS_TEAM','PLAYERS_LASTNAME','PLAYERS_FIRSTNAME']">
          <input type="checkbox" id="{{player.PLAYERS_ID}}" class="checkbox__input" data-ng-model="player.selected">
          <label for="{{player.PLAYERS_ID}}" class="checkbox__label">{{player.PLAYERS_LASTNAME}} - {{player.PLAYERS_FIRSTNAME}}</label>
          <span class="checkbox__help">{{player.PLAYERS_TEAM}}</span>
        </div>
      </div>
    </div>
    <div class="card__actions">
        <a data-ng-if="!(group.GROUPS_ID==0)" lx-tooltip="Editer" tooltip-position="top" class="btn btn--m btn--fab" href="#/group/{{group.GROUPS_ID}}/edit" lx-ripple><i class="mdi mdi-pencil"></i></a>
        <button data-ng-if="!(group.GROUPS_ID==0)" lx-tooltip="Mettre à jour la photo" tooltip-position="top" data-ng-click="updateGroupPicture(group)" class="btn btn--m btn--fab" lx-ripple><i class="mdi mdi-camera"></i></button>
        <button data-ng-if="!(group.GROUPS_ID==0)" lx-tooltip="Supprimer" tooltip-position="top" data-ng-click="remGroup(group)" class="btn btn--m btn--fab" lx-ripple><i class="mdi mdi-delete"></i></button>
        <lx-dropdown position="right" from-top="true">
          <button class="btn btn--m btn--fab" lx-ripple lx-dropdown-toggle>
              <i class="mdi mdi-dots-vertical"></i>
          </button>
          <lx-dropdown-menu>
              <ul>
                  <li><span class="dropdown-link dropdown-link--is-header">Déplacer vers :</span></li>
                  <li class="dropdown-divider"></li>
                  <li data-ng-repeat="group_tgt in groups">
                      <a data-ng-click="MoveToGroup(group_tgt)" class="dropdown-link">
                        <span>{{group_tgt.GROUPS_NAME}}</span>
                      </a>
                  </li>
              </ul>
          </lx-dropdown-menu>
      </lx-dropdown>
    </div>
  </article>

</section>
