<section class="groups">
  <article class="mdl-card mdl-shadow--2dp">
    <form  data-ng-submit="groups_insert(NG);NG={};">
      <div class="mdl-card__supporting-text">
        <mdl-text-field mdl-upgrade label="Nom" ng-model="NG.GROUPS_NAME"></mdl-text-field>
        <mdl-text-field mdl-upgrade label="Description" ng-model="NG.GROUPS_DESCRIPTION"></mdl-text-field>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">Ajouter</button>
      </div>
    </form>
  </article>
  <article class="mdl-card mdl-shadow--2dp" data-ng-repeat="group in groups">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">{{group.GROUPS_NAME}}</h1>
    </div>
    <div class="mdl-card__supporting-text">
      <p>{{group.GROUPS_DESCRIPTION}}</p>
      <ul style="padding:0;margin:0;list-style-type:none;">
        <li data-ng-repeat="player in players | filter:{GROUPS_ID:group.GROUPS_ID} | orderBy: ['PLAYERS_TEAM','PLAYERS_LASTNAME','PLAYERS_FIRSTNAME']"><mdl-checkbox mdl-upgrade label="{{player.PLAYERS_TEAM}}" ng-model="player.checked"></mdl-checkbox> - {{player.PLAYERS_LASTNAME}} - {{player.PLAYERS_FIRSTNAME}}</li>
      </ul>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" data-ng-click="groups_delete(group)">
        <i class="material-icons">clear</i>
      </button>
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">edit</i>
      </button>
    </div>

  </article>
</section>
