<section class="players">
  <article style="width:320px" class="card" data-ng-repeat="player in players | filter:playerfilter:false | orderBy:'PLAYERS_TEAM'">
    <div class="card__img card__img--top">
        <img data-ng-if="player.PLAYERS_PICTURE" data-ng-src="pictures/players/{{player.PLAYERS_PICTURE}}.jpg">
        <img data-ng-if="!player.PLAYERS_PICTURE" src="pictures/empty_player.png">
        <span data-ng-if="!player.PLAYERS_PICTURE" class="fs-headline tc-black-1 display-block">{{player.PLAYERS_LASTNAME}}&nbsp;{{player.PLAYERS_FIRSTNAME}}</span>
        <span data-ng-if="player.PLAYERS_PICTURE" class="fs-headline tc-white-1 display-block">{{player.PLAYERS_LASTNAME}}&nbsp;{{player.PLAYERS_FIRSTNAME}}</span>
    </div>
    <div class="p+">
      <div class="paragraph fs-body-1">
        <p data-ng-if="player.PLAYERS_NICKNAME">Alias {{player.PLAYERS_NICKNAME}}</p>
        <p class="team">{{player.PLAYERS_TEAM}}</p>
      </div>
    </div>
    <div class="card__actions">
        <a lx-tooltip="Afficher les répliques" tooltip-position="top" class="btn btn--m btn--fab" href="#/player/{{player.PLAYERS_ID}}"><i class="mdi mdi-view-headline"></i></a>
        <a lx-tooltip="Editer" tooltip-position="top" class="btn btn--m btn--fab" href="#/player/{{player.PLAYERS_ID}}/edit" lx-ripple><i class="mdi mdi-pencil"></i></a>
        <button lx-tooltip="Mettre à jour la photo" tooltip-position="top" data-ng-click="updatePlayerPicture(player)" class="btn btn--m btn--fab" lx-ripple><i class="mdi mdi-camera"></i></button>
        <button lx-tooltip="Supprimer" tooltip-position="top" data-ng-click="remPlayer(player)" class="btn btn--m btn--fab" lx-ripple><i class="mdi mdi-delete"></i></button>
    </div>
  </article>
</section>
